<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a (click)="prevPage(); $event.preventDefault()" href="" class="page-link"
          [appClass]="{disabled: currentPage===0}">Previous</a>
      </li>
      <ng-container *appTimes="images.length; let i= index">
        <li *ngIf="checkWindowIndex(i)" class="page-item" [appClass]="{active: i === currentPage}">
          <a (click)="setPage(i); $event.preventDefault()" href="" class="page-link">{{i + 1}}</a>
        </li>
      </ng-container>
      <li class="page-item">
        <a (click)="nextPage(); $event.preventDefault()" href="" class="page-link"
          [appClass]="{disabled:currentPage===images.length-1}">Next</a>
      </li>
    </ul>
  </nav>
  <!-- <ul *appTimes="5">
    <li>Hi</li>
  </ul> -->

  
  <div class="container">
    <h4>
      {{images[currentPage].title}}
    </h4>
    <img class="img-thumbnail" [src]="images[currentPage].url" alt="">
  </div>

</div>

<!-- learn switch statements -->
<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    page is 1
  </div>
  <div *ngSwitchCase="1">
    page is {{currentPage + 1}}
  </div>
  <div class="container" *ngSwitchDefault>
    default
  </div>
</div> -->